<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #toggleLink {
          color: #ffffff;
          background-color: #007bff;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
        }

        #toggleLink:hover {
          background-color: #0056b3;
        }
        #toggleLink2 {
          color: #ffffff;
          background-color: #007bff;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
        }

        #toggleLink2:hover {
          background-color: #0056b3;
        }

        #content {
          /* 要顯示或隱藏的內容的樣式 */
          background-color: #f5f5f5;
          padding: 10px;
        }
        .center-text {
            text-align: center;
        }
        .table-align thead th {
            text-align: center;
        }

        .table-align tbody td {
            text-align: center;
        }
        .table-container {
                display: flex;
                justify-content: center;
        }
        .color-red {
            color: hotpink;
        }
        .color-blue {
            color: deepskyblue;
        }
    </style>
</head>
<body>
    <h1>Details of <span class="color-red">{{ epitope }}</span></h1>
    {% load static %}
    <script type="text/javascript" src="{% static '/Jmol/jsmol/JSmol.min.js' %}"></script>
    <div style="display: flex; justify-content: space-between;">
        <div class="row mx-0 mt-1 mb-3 p-3 border border-info rounded" id="summary-box" style="white-space: nowrap; overflow-x: auto;">
            <h2>SUMMARY</h2>
            <div class="table-container">
                <table class="table table-striped table-bordered table-condensed table-hover table-align">
                    <thead class="thead-dark">
                        <tr>
                            <th>Item</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAMPLE ID</td>
                            {% if epitope.tcellid %}
                            <td>{{ epitope.tcellid }}</td>
                            {% else %}
                            <td>{{ epitope.key }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Pathogen Type</td>
                            <td>{{epitope.epitopespecies}}</td>
                        </tr>
                            <td>PubMedID</td>
                            <td>{{epitope.pmid}}</td>
                        </tr>
                        <tr>
                            <td>Assay</td>
                            <td>{{epitope.method}} : {{epitope.Response}}</td>
                        </tr>
                        <tr>
                            <td class="color-red">MHC (Old):</td>
                            <td>{{epitope.old_allele_name}}</td>
                        </tr>
                        {% if epitope.mhc_convert %}
                            <tr>
                            <td class="color-red">MHC (Convert):</td>
                            <td>{{epitope.mhc_convert}}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="color-blue">TCR INFO:</td>
                            {% if epitope.VA_IMGT %}
                                <td>{{epitope.VA_IMGT}} | {{epitope.VB_IMGT}}</td>
                            {% else %}
                                <td>No TCR info found!ß</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width: 300px;">
            <script type="text/javascript">
            //var script_run = "load /jsmol/test.pdb;spin on;";
            //var script_run ="load {% static 'PDB/5JZI.pdb' %}; spin on;spacefill;";
            //var script_run = "load {% static 'PDB/'|add:pdbfile %};spin on;spacefill; select :{{ epitope_chain }};color red";
            var script_run = "load {% static 'PDB/' %}" + "{{ pdbfile }}" + "{{ command }}";
            console.log(script_run);
            var jmolApplet0;
            var Info0 = {
                width: 300,
                height: 300,
                color: "black",
                serverURL: "/jsmol/php/jsmol.php",
                use: "HTML5",
                jarPath: "{% static '/Jmol/jsmol/java' %}",
                j2sPath: "{% static '/Jmol/jsmol/j2s' %}",
                script: script_run, //The command defined before.
                disableInitialConsole: true
            }
            Jmol.getApplet("jmolApplet0", Info0)
            </script>
            <a href="javascript:Jmol.script(jmolApplet0,'spin on')" style="color: black;">spin on</a>
            <a href="javascript:Jmol.script(jmolApplet0,'spin off')" style="color: black;">spin off</a>
            <br>
            <a href="javascript:Jmol.script(jmolApplet0,'{{ show_pMHC_Command }}')" style="color: pink;">Only show pMHC</a>
            <a href="javascript:Jmol.script(jmolApplet0,'{{ show_TCR_Command }}')" style="color: lightblue;">Only show TCR</a>
            <br>
            <a href="javascript:Jmol.script(jmolApplet0,'restore STATE')" style="color: black;">Restore default status</a>
        </div>
    </div>
    <div>
        <a href="#" id="toggleLink">Structure information</a>
        <div id="content" style="display: none;">
            <!-- 要隱藏或顯示的內容 -->
            <div class="center-text">
                <h3>{{epitope.title}}</h3>
            </div>
            <div class="table-container">
                 <table class="table table-striped table-bordered table-condensed table-hover table-align">
                    <thead class="thead-dark">
                        <tr>
                            <th>Item</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PDBID</td>
                            <td>{{ epitope.pdbid }}</td>
                        </tr>
                        {% if epitope.clear %}
                        <tr>
                            <td>PDB ambiguity</td>
                            <td>本尊</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>PDB ambiguity</td>
                            <td>不同pubmedID</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>PDB Date</td>
                            <td>{{ epitope.pdb_date }}</td>
                        </tr>
                        <tr>
                            <td>Bound State</td>
                            <td>{{ epitope.bound }}</td>
                        </tr>
                        <tr>
                            <td>Ag Chain</td>
                            <td>{{ epitope.Ag_Chain }}</td>
                        </tr>
                        <tr>
                            <td>MHC Chain</td>
                            <td>{{ epitope.MHC_Chain }}</td>
                        </tr>
                        <tr>
                            <td>TCR Chain</td>
                            <td>{{ epitope.VA_Chain }} | {{ epitope.VB_Chain }}</td>
                        </tr>
                        <tr>
                            <td>TCR IMGT</td>
                            <td>{{ epitope.VA_IMGT }} | {{ epitope.VB_IMGT }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <a href="#" id="toggleLink2">Additional information</a>
                <div id="content2" style="display: none;">
                     <!-- 要隐藏或显示的内容 -->
                     <h1>HELLO</h1>
                </div>
        </div>
        </div>

        <script>
            var toggleButton = document.getElementById("toggleLink");
            var content = document.getElementById("content");

            toggleButton.addEventListener("click", function() {
              if (content.style.display === "none") {
                content.style.display = "block";
              } else {
                content.style.display = "none";
              }
            });

            var toggleLink2 = document.getElementById("toggleLink2");
            var content2 = document.getElementById("content2");

            toggleLink2.addEventListener("click", function () {
                if (content2.style.display === "none") {
                    content2.style.display = "block";
                } else {
                    content2.style.display = "none";
                }
            });
        </script>
    </div>
</body>
</html>
